modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "libxcrypt", "pkg-config", "qhull", "tcl", "tk", "xsimd"]

[deployment]
run = ["python3", "dfs.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41978871
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 practicum_6/homework/matrix_chain_multiplication.py"
